body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn-pill {
  border-radius: 50px;
}

#workflow .form-check {
  margin-bottom: 15px;
}

#workflow .form-check-label {
  font-weight: 500;
}

#workflow .form-check-input {
  margin-top: 0.3em;
}

